.display {
  border: black solid 3px;
  padding: 30px 100px;
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
}

button {
  width: 80px;
  height: 80px;
}

.buttons {
  display: flex;
  width: 320px;
  flex-wrap: wrap;
}
